@st-import [
    --white,
    --violet6,
] from '../../common.st.css';
@st-import Separator from './separator.st.css';

.root {
    -st-extends: Separator;
    background-color: var(--violet6);
}

.root:horizontal {
    height: 1px;
    width: 100%;
}

.root:vertical {
    height: 100%;
    width: 1px;
}
