.root {
  -st-states: vertical('[data-orientation="vertical"]'),
    horizontal('[data-orientation="horizontal"]');
}

.sub {
  -st-states: vertical('[data-orientation="vertical"]'),
    horizontal('[data-orientation="horizontal"]');
}

.list {
  -st-states: vertical('[data-orientation="vertical"]'),
    horizontal('[data-orientation="horizontal"]');
}

.item {}

.trigger {
  -st-states: open('[data-state="open"]'),
    closed('[data-state="closed"]'),
    disabled('[data-disabled]');
}

.content {
  -st-states: open('[data-state="open"]'),
    closed('[data-state="closed"]'),

    to-start('[data-motion="to-start"]'),
    to-end('[data-motion="to-end"]'),
    from-start('[data-motion="from-start"]'),
    from-end('[data-motion="from-end"]'),

    vertical('[data-orientation="vertical"]'),
    horizontal('[data-orientation="horizontal"]');
}

.link {
  -st-states: active('[data-active]');
}

.indicator {
  -st-states: visible('[data-state="visible"]'),
    hidden('[data-state="hidden"]'),
    vertical('[data-orientation="vertical"]'),
    horizontal('[data-orientation="horizontal"]');
}

@property st-global(--radix-navigation-menu-viewport-width);
@property st-global(--radix-navigation-menu-viewport-height);

.viewport {
  -st-states: visible('[data-state="visible"]'),
    hidden('[data-state="hidden"]'),
    vertical('[data-orientation="vertical"]'),
    horizontal('[data-orientation="horizontal"]');
}
