@st-import [
    --white,
] from '../../common.st.css';
@st-import Form from './form.st.css';

.root {
    -st-extends: Form;
    width: 260px;
}

.root::field {
    display: grid;
    margin-bottom: 10px;
}

.root::label {
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    color: var(--white);
}

.root::message {
    font-size: 13px;
    color: var(--white);
    opacity: 0.8;
}
