@st-import [
    --blackA9,
    --mauve11,
    --mauve12,
    --white,
] from '../../common.st.css';
@st-import DropdownMenu from './dropdown-menu.st.css';

.root {
    -st-extends: DropdownMenu;
}

.root::content,
.root::subContent {
    min-width: 220px;
    background-color: var(--white);
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
                0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.root::content:top,
.root::subContent:top {
    animation-name: slideDownAndFade;
}

.root::content:right,
.root::subContent:right {
    animation-name: slideLeftAndFade;
}

.root::content:bottom,
.root::subContent:bottom {
    animation-name: slideUpAndFade;
}

.root::content:left,
.root::subContent:left {
    animation-name: slideRightAndFade;
}

.root::item,
.root::radioItem,
.root::subTrigger,
.root::checkboxItem {
    font-size: 13px;
    line-height: 1;
    color: var(--violet11);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 5px;
    position: relative;
    padding-left: 25px;
    user-select: none;
    outline: none;
}

.root::subTrigger:open {
    background-color: var(--violet4);
    color: var(--violet11);
}

.root::item:disabled,
.root::radioItem:disabled,
.root::subTrigger:disabled,
.root::checkboxItem:disabled {
    color: var(--mauve8);
    pointer-events: none;
}

.root::item:highlighted,
.root::radioItem:highlighted,
.root::subTrigger:highlighted,
.root::checkboxItem:highlighted {
    background-color: var(--violet9);
    color: var(--violet1);
}

.root::label {
    padding-left: 25px;
    font-size: 12px;
    line-height: 25px;
    color: var(--mauve11);
}

.root::separator {
    height: 1px;
    background-color: var(--violet6);
    margin: 5px;
}

.root::itemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.root::arrow {
    fill: var(--white);
}

@keyframes slideUpAndFade {
    from {
        opacity: 0;
        transform: translateY(2px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRightAndFade {
    from {
        opacity: 0;
        transform: translateX(-2px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDownAndFade {
    from {
        opacity: 0;
        transform: translateY(-2px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftAndFade {
    from {
        opacity: 0;
        transform: translateX(2px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
