.root {
    -st-states: vertical('[data-orientation="vertical"]'),
        horizontal('[data-orientation="horizontal"]');
    display: flex;
    min-width: max-content;
}

.button {
    -st-states: vertical('[data-orientation="vertical"]'),
        horizontal('[data-orientation="horizontal"]');
}

.link {}

.toggleGroup {
    -st-states: vertical('[data-orientation="vertical"]'),
        horizontal('[data-orientation="horizontal"]');
}

.toggleItem {
    -st-states: on('[data-state="on"]'),
        vertical('[data-orientation="vertical"]'),
        horizontal('[data-orientation="horizontal"]');
    -st-mixin: itemStyle;
}

.separator {
    -st-states: vertical('[data-orientation="vertical"]'),
        horizontal('[data-orientation="horizontal"]');
}

.itemStyle {
    all: unset;
    flex: 0 0 auto;
    height: 25px;
    display: inline-flex;
    line-height: 1px;
    align-items: center;
    justify-content: center;
}

.itemStyle:focus {
    position: relative;
}

.toggleGroup {
    display: inline-flex;
}

.separator {
    width: 1px;
}

.link {
    -st-mixin: itemStyle;
}

.link:hover {
    cursor: pointer;
}

.button {
    -st-mixin: itemStyle;
}

.button:hover {
    cursor: pointer;
}
