@st-import [
    --blackA7,
    --mauve2,
    --mauve6,
    --mauve11,
    --violet3,
    --violet5,
    --violet9,
    --violet10,
    --violet11,
    --white
] from "../../common.st.css";
@st-import Toolbar from "./toolbar.st.css";

.root {
    -st-extends: Toolbar;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--mauve2);
    box-shadow: 0 2px 10px var(--blackA7);
}

.itemStyle {
    color: var(--mauve11);
    padding: 0 5px;
    border-radius: 4px;
    font-size: 13px;
}

.itemStyle:hover {
    background-color: var(--violet3);
    color: var(--violet11);
}

.root::itemStyle:focus {
    box-shadow: 0 0 0 2px var(--violet7);
}

.root::toggleGroup {
    border-radius: 4px;
}

.root::toggleItem {
    -st-mixin: itemStyle;
    box-shadow: 0;
    background-color: var(--white);
    margin-left: 2px;

}

.root::toggleItem:state-on {
    background-color: var(--violet5);
    color: var(--violet11);
}

.root::toggleItem:first-child {
    margin-left: 0;
}

.root::icon {}

.root::separator {
    background-color: var(--mauve6);
    margin: 0 10px;
}

.root::link {
    -st-mixin: itemStyle;
    background-color: transparent;
    margin-right: 10px;
}

.root::link:hover {}

.root::button {
    -st-mixin: itemStyle;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--violet9);
    color: var(--white);
}

.root::button:hover {
    background-color: var(--violet10);
    color: var(--white);
}
