.root {
    /* TODO: NOT APPLIED */
    -st-global: '* ';
}

.trigger {
    -st-states: open('[data-state="open"]'), closed('[data-state="closed"]');
}

.overlay {
    -st-states: open('[data-state="open"]'), closed('[data-state="closed"]');
}

.content {
    -st-states: open('[data-state="open"]'), closed('[data-state="closed"]');
}

.cancel {}

.action {}

.title {}

.description {}
