@st-import Toolbar from "../components/toolbar/toolbar.st.css";
@st-import ToolbarVariant from "../components/toolbar/toolbar.variant.st.css";
@st-import Accordion from "../components/accordion/accordion.st.css";
@st-import AccordionVariant from "../components/accordion/accordion.variant.st.css";
@st-import AlertDialog from "../components/alert-dialog/alert-dialog.st.css";
@st-import AlertDialogVariant from "../components/alert-dialog/alert-dialog.variant.st.css";
@st-import AspectRatio from "../components/aspect-ratio/aspect-ratio.st.css";
@st-import AspectRatioVariant from "../components/aspect-ratio/aspect-ratio.variant.st.css";
@st-import Avatar from "../components/avatar/avatar.st.css";
@st-import AvatarVariant from "../components/avatar/avatar.variant.st.css";
@st-import Checkbox from "../components/checkbox/checkbox.st.css";
@st-import CheckboxVariant from "../components/checkbox/checkbox.variant.st.css";
@st-import Collapsible from "../components/collapsible/collapsible.st.css";
@st-import CollapsibleVariant from "../components/collapsible/collapsible.variant.st.css";
@st-import ContextMenu from "../components/context-menu/context-menu.st.css";
@st-import ContextMenuVariant from "../components/context-menu/context-menu.variant.st.css";
@st-import Dialog from "../components/dialog/dialog.st.css";
@st-import DialogVariant from "../components/dialog/dialog.variant.st.css";
@st-import DropdownMenu from "../components/dropdown-menu/dropdown-menu.st.css";
@st-import DropdownMenuVariant from "../components/dropdown-menu/dropdown-menu.variant.st.css";
@st-import HoverCard from "../components/hover-card/hover-card.st.css";
@st-import HoverCardVariant from "../components/hover-card/hover-card.variant.st.css";
@st-import Label from "../components/label/label.st.css";
@st-import LabelVariant from "../components/label/label.variant.st.css";
@st-import NavigationMenu from "../components/navigation-menu/navigation-menu.st.css";
@st-import NavigationMenuVariant from "../components/navigation-menu/navigation-menu.variant.st.css";
@st-import Popover from "../components/popover/popover.st.css";
@st-import PopoverVariant from "../components/popover/popover.variant.st.css";
@st-import Progress from "../components/progress/progress.st.css";
@st-import ProgressVariant from "../components/progress/progress.variant.st.css";
@st-import RadioGroup from "../components/radio-group/radio-group.st.css";
@st-import RadioGroupVariant from "../components/radio-group/radio-group.variant.st.css";

@st-scope * {
    Toolbar {
        -st-mixin: ToolbarVariant;
    }

    Accordion {
        -st-mixin: AccordionVariant;
    }

    AlertDialog {
        -st-mixin: AlertDialogVariant;
    }

    AspectRatio {
        -st-mixin: AspectRatioVariant;
    }

    Avatar {
        -st-mixin: AvatarVariant;
    }

    Checkbox {
        -st-mixin: CheckboxVariant;
    }

    Collapsible {
        -st-mixin: CollapsibleVariant;
    }

    ContextMenu {
        -st-mixin: ContextMenuVariant;
    }

    Dialog {
        -st-mixin: DialogVariant;
    }

    DropdownMenu {
        -st-mixin: DropdownMenuVariant;
    }

    HoverCard {
        -st-mixin: HoverCardVariant;
    }

    Label {
        -st-mixin: LabelVariant;
    }

    NavigationMenu {
        -st-mixin: NavigationMenuVariant;
    }

    Popover {
        -st-mixin: PopoverVariant;
    }

    Progress {
        -st-mixin: ProgressVariant;
    }

    RadioGroup {
        -st-mixin: RadioGroupVariant;
    }
}
