@st-import Toolbar from "../components/toolbar/toolbar.st.css";
@st-import ToolbarVariant from "../components/toolbar/toolbar.variant.st.css";
@st-import Accordion from "../components/accordion/accordion.st.css";
@st-import AccordionVariant from "../components/accordion/accordion.variant.st.css";
@st-import AlertDialog from "../components/alert-dialog/alert-dialog.st.css";
@st-import AlertDialogVariant from "../components/alert-dialog/alert-dialog.variant.st.css";
@st-import AspectRatio from "../components/aspect-ratio/aspect-ratio.st.css";
@st-import AspectRatioVariant from "../components/aspect-ratio/aspect-ratio.variant.st.css";
@st-import Avatar from "../components/avatar/avatar.st.css";
@st-import AvatarVariant from "../components/avatar/avatar.variant.st.css";
@st-import Checkbox from "../components/checkbox/checkbox.st.css";
@st-import CheckboxVariant from "../components/checkbox/checkbox.variant.st.css";

@st-scope * {
    Toolbar {
        -st-mixin: ToolbarVariant;
    }

    Accordion {
        -st-mixin: AccordionVariant;
    }

    AlertDialog {
        -st-mixin: AlertDialogVariant;
    }

    AspectRatio {
        -st-mixin: AspectRatioVariant;
    }

    Avatar {
        -st-mixin: AvatarVariant;
    }

    Checkbox {
        -st-mixin: CheckboxVariant;
    }
}
