@st-import Accordion from "../components/accordion/accordion.st.css";
@st-import AlertDialog from "../components/alert-dialog/alert-dialog.st.css";
@st-import AspectRatio from "../components/aspect-ratio/aspect-ratio.st.css";
@st-import Avatar from "../components/avatar/avatar.st.css";
@st-import Checkbox from "../components/checkbox/checkbox.st.css";
@st-import Collapsible from "../components/collapsible/collapsible.st.css";
@st-import ContextMenu from "../components/context-menu/context-menu.st.css";
@st-import [--blackA7, --blackA9, --mauve12] from "../common.st.css";

@st-scope .root {

    Accordion {}

    Accordion::content {}

    Accordion::header {}

    Accordion::item {}

    Accordion::trigger {}

    AlertDialog {}

    AlertDialog::action {}

    AlertDialog::cancel {
        /* background-color: #BD4242; */
    }

    AlertDialog::content {
        background-color: white;
        border-radius: 6px;
        box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        max-width: 500px;
        max-height: 85vh;
        padding: 25px;
    }

    AlertDialog::description {
        margin-bottom: 20px;
        color: var(--mauve11);
        font-size: 15px;
        line-height: 1.5em;

    }

    AlertDialog::overlay {
        inset: 0;
        position: fixed;

        background-color: var(--blackA9);
    }

    AlertDialog::portal {}

    AlertDialog::title {
        margin: 0;
        color: var(--mauve12);
        font-size: 17px;
        font-weight: 500;
    }

    AlertDialog::trigger {
        background-color: gold;
        width: 200px;
        height: 100px;
    }

    AspectRatio {}

    AspectRatio img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    Avatar {}

    Avatar::image {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    Avatar::fallback {
        background-color: grey;
        border-radius: 50%;
    }

    Checkbox {
        width: 25px;
        height: 25px;
    }

    Checkbox:checked {

        background-color: greenyellow;
    }

    Checkbox::indicator {}

    Collapsible {}

    ContextMenu::content {
        background-color: lightblue;
    }
}
