@st-import [--white, --blackA7, --violet3, --violet11, --black] from '../common.st.css';

.rightSlot {
    margin-left: auto;
    padding-left: 20px;
    color: var(--mauve11);
}

[data-highlighted] > .rightSlot {
    color: white;
}

[data-disabled] .rightSlot {
    color: var(--mauve8);
}
