@st-import [
    --white,
    --blackA7,
    --mauve8,
    --mauve11,
    --violet3,
    --violet11,
    --black
] from '../common.st.css';

.iconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--violet11);
    background-color: var(--white);
    box-shadow: 0 2px 10px var(--blackA7);
}

.iconButton:hover {
    background-color: var(--violet3);
}

.iconButton:focus {
    box-shadow: 0 0 0 2px var(--black);
}

.rightSlot {
    margin-left: auto;
    padding-left: 20px;
    color: var(--mauve11);
}

[data-highlighted] > .rightSlot {
    color: var(--white);
}

[data-disabled] .rightSlot {
    color: var(--mauve8);
}
