@st-import [--white] from '../common.st.css';

.imageTrigger {
    cursor: pointer;
    border-radius: 100%;
    display: inline-block;
}

.imageTrigger:focus {
    box-shadow: 0 0 0 2px var(--white);
}

.image {
    display: block;
    border-radius: 100%;
}

.image.normal {
    width: 45px;
    height: 45px;
}

.image.large {
    width: 60px;
    height: 60px;
}

.text {
    margin: 0;
    color: var(--mauve12);
    font-size: 15px;
    line-height: 1.5;
}

.text.faded {
    color: var(--mauve10);
}

.text.bold {
    font-weight: 500;
}
