@st-import [
    --white,
    --mauve8,
    --mauve9
] from '../common.st.css';

.inset {
    padding-left: 20px;
}

.rightSlot {
    margin-left: auto;
    padding-left: 20px;
    color: var(--mauve9);
}

[data-highlighted] > .rightSlot {
    color: var(--white);
}

[data-disabled] > .rightSlot {
    color: var(--mauve8);
}
