@st-import [
    --violet11,
    --mauve12,
    --mauve6
] from '../common.st.css';

.text {
    color: var(--violet11);
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}

.tag {
    color: var(--mauve12);
    font-size: 13px;
    line-height: 18px;
    margin-top: 10px;
    border-top: 1px solid var(--mauve6);
    padding-top: 10px;
}
