@st-import [
    --white,
    --mauve11,
    --violet12,
    --violet11,
    --violet7,
    --violet8,
    --green4,
    --green5,
    --green7,
    --green11
] from '../common.st.css';

.text {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--mauve11);
    font-size: 15px;
    line-height: 1.5;
}

.fieldset {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.label {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 10px;
    color: var(--violet12);
    display: block;
}

.input {
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    color: var(--violet11);
    box-shadow: 0 0 0 1px var(--violet7);
    height: 35px;
}

.input:focus {
    box-shadow: 0 0 0 2px var(--violet8);
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
}

.button.green {
    background-color: var(--green4);
    color: var(--green11);
}

.button.green:hover {
    background-color: var(--green5);
}

.button.green:focus {
    box-shadow: 0 0 0 2px var(--green7);
}
