@st-import [
    --blackA9,
    --mauve11,
    --mauve12,
    --white,
] from '../../common.st.css';
@st-import HoverCard from './hover-card.st.css';

.root {
    -st-extends: HoverCard;
}

.root::content {
    border-radius: 6px;
    padding: 20px;
    width: 300px;
    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
                hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.root::content:top {
    animation-name: slideDownAndFade;
}

.root::content:right {
    animation-name: slideLeftAndFade;
}

.root::content:bottom {
    animation-name: slideUpAndFade;
}

.root::content:left {
    animation-name: slideRightAndFade;
}

.root::arrow {
    fill: white;
}
