.root {
  /* TODO: this is broken because of portalism */
  /* -st-global: ' '; */
}

.trigger {
  -st-states:
    open('[data-state="open"]'),
    closed('[data-state="closed"]'),
    highlighted('[data-highlighted]'),
    disabled('[data-disabled]');
}

@property st-global(--radix-menubar-content-transform-origin);
@property st-global(--radix-menubar-content-available-width);
@property st-global(--radix-menubar-content-available-height);
@property st-global(--radix-menubar-trigger-width);
@property st-global(--radix-menubar-trigger-height);

.content {
  -st-states:
    open('[data-state="open"]'),
    closed('[data-state="closed"]'),
    left('[data-side="left"]'),
    right('[data-side="right"]'),
    bottom('[data-side="bottom"]'),
    top('[data-side="top"]'),
    start('[data-align="start"]'),
    end('[data-align="end"]'),
    center('[data-align="center"]');
}

.label {}

.item {
  -st-states:
    open('[data-state="open"]'),
    closed('[data-state="closed"]'),
    highlighted('[data-highlighted]'),
    disabled('[data-disabled]');
}

.group {}

.checkboxItem {
  -st-states:
    checked('[data-state="checked"]'),
    unchecked('[data-state="unchecked"]'),
    highlighted('[data-highlighted]'),
    disabled('[data-disabled]');
}

.itemIndicator {
  -st-states:
    checked('[data-state="checked"]'),
    unchecked('[data-state="unchecked"]');
}

.radioGroup {}

.radioItem {
  -st-states:
    checked('[data-state="checked"]'),
    unchecked('[data-state="unchecked"]'),
    highlighted('[data-highlighted]'),
    disabled('[data-disabled]');
}

.subTrigger {
  -st-states:
    open('[data-state="open"]'),
    closed('[data-state="closed"]'),
    highlighted('[data-highlighted]'),
    disabled('[data-disabled]');
}

.subContent {
  -st-states:
    open('[data-state="open"]'),
    closed('[data-state="closed"]'),
    left('[data-side="left"]'),
    right('[data-side="right"]'),
    bottom('[data-side="bottom"]'),
    top('[data-side="top"]'),
    start('[data-align="start"]'),
    end('[data-align="end"]'),
    center('[data-align="center"]'),
    vertical('[data-orientation="vertical"]'),
    horizontal('[data-orientation="horizontal"]');
}

.separator {}

.arrow {}

