@st-import [
    --white,
    --violet11
] from '../../common.st.css';
@st-import Tooltip from './tooltip.st.css';

.root {
    -st-extends: Tooltip;
}

.root::content {
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1;
    color: var(--violet11);
    background-color: var(--white);
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
                hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    user-select: none;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.root::content:delayed-open:top {
    animation-name: slideDownAndFade;
}

.root::content:delayed-open:right {
    animation-name: slideLeftAndFade;
}

.root::content:delayed-open:bottom {
    animation-name: slideUpAndFade;
}

.root::content:delayed-open:left {
    animation-name: slideRightAndFade;
}

.root::arrow {
    fill: var(--white);
}

@keyframes slideUpAndFade {
    from {
        opacity: 0;
        transform: translateY(2px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRightAndFade {
    from {
        opacity: 0;
        transform: translateX(-2px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDownAndFade {
    from {
        opacity: 0;
        transform: translateY(-2px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftAndFade {
    from {
        opacity: 0;
        transform: translateX(2px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

