.root {
  /* TODO: NOT APPLIED */
  -st-global: ' ';
}

.trigger {
  -st-states: closed('[data-state="closed"]'),
    delayed-open('[data-state="delayed-open"]'),
    instant-open('[data-state="instant-open"]');
}

.portal {}

@property st-global(--radix-tooltip-content-transform-origin);

.content {
  -st-states: closed('[data-state="closed"]'),
    delayed-open('[data-state="delayed-open"]'),
    instant-open('[data-state="instant-open"]'),

    left('[data-side="left"]'),
    right('[data-side="right"]'),
    bottom('[data-side="bottom"]'),
    top('[data-side="top"]'),

    start('[data-align="start"]'),
    end('[data-align="end"]'),
    center('[data-align="center"]');
}

.arrow {}
