@st-import Toolbar from "./toolbar.st.css";
@st-import [
    --blackA7,
    --mauve6,
    --mauve11,
    --violet3,
    --violet5,
    --violet9,
    --violet10,
    --violet11,
    --white
] from "./common.st.css";

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toolbar {
    -st-extends: Toolbar;
    margin: 1em 0;
}

.dark .toolbar {
    --white: hsl(0, 0%, 10%);
}
