.root {}

.item {
    overflow: hidden;
}


.item:focus-within {
    position: relative;
    z-index: 1;
}

.header {
    all: unset;
    display: flex;
}

.trigger {
    -st-states: closed('[data-state="closed"]'), open('[data-state="open"]');
    all: unset;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1px;
}


.content {
    -st-states: open('[data-state="open"]'),
        closed('data-state="closed"'),
        disabled('data-disabled');
}
