@st-import [--blackA4, --mauve2, --mauve4, --mauve6, --mauve11, --mauve12, --violet11, --white] from '../../common.st.css';
@st-import Accordion, [content] from './accordion.st.css';

@property st-global(--radix-accordion-content-height);

.root {
    -st-extends: Accordion;
    border-radius: 6px;
    width: 300px;
    background-color: var(--mauve4);
    box-shadow: 0 2px 10px var(--blackA4);
}

.root::item {
    margin-top: 1px;
}

.root::item:first-child {
    margin-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.root::item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.root::item:focus-within {
    box-shadow: 0 0 0 2px var(--mauve12);
}

.root::header {}

.root::trigger {
    font-family: inherit;
    background-color: transparent;
    padding: 0 20px;
    font-size: 15px;
    color: var(--violet11);
    box-shadow: 0 1px 0 var(--mauve6);
}

.root::trigger:open,
.root::trigger:closed {
    background-color: var(--white);
}

.root::trigger:hover {
    background-color: var(--mauve2);
}

.root::content {
    overflow: hidden;
    font-size: 15px;
    padding: 15px 20px;
    color: var(--mauve11);
}

.root::content:open {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.root::content:closed {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
    from {
        height: 0;
    }

    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }

    to {
        height: 0;
    }
}
