.root {}

.item {
    -st-states: open('[data-state="open"]'),
        closed('[data-state="closed"]'),
        disabled('[data-disabled]');
    overflow: hidden;
}


.item:focus-within {
    position: relative;
    z-index: 1;
}

.header {
    -st-states: open('[data-state="open"]'),
        closed('[data-state="closed"]'),
        disabled('[data-disabled]');
    all: unset;
    display: flex;
}

.trigger {
    -st-states: open('[data-state="open"]'),
        closed('[data-state="closed"]'),
        disabled('[data-disabled]');
    all: unset;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1px;
}

@property st-global(--radix-accordion-content-width);
@property st-global(--radix-accordion-content-height);

.content {
    -st-states: open('[data-state="open"]'),
        closed('[data-state="closed"]'),
        disabled('[data-disabled]');
}
