@st-import [
    --white,
    --blackA10,
    --blackA7,
    --blackA8,
    --violet3
] from '../../common.st.css';
@st-import Slider from './slider.st.css';

.root {
    -st-extends: Slider;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 200px;
    height: 20px;
}

.root::track {
    background-color: var(--blackA10);
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 3px;
}

.root::range {
    position: absolute;
    background-color: var(--white);
    border-radius: 9999px;
    height: 100%;
}

.root::thumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    box-shadow: 0 2px 10px var(--blackA7);
    border-radius: 10px;
}

.root::thumb:hover {
    background-color: var(--violet3);
}

.root::thumb:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--blackA8);
}
